@import url("http://fonts.googleapis.com/css?family=Lobster:100");

body {
  background-color: black;
  font-family: 'Lobster', cursive;
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 120px;  
  text-align: center;
  height: 550px;
  line-height: 550px; 
  vertical-align: middle;
};
