//$font-stack: Helvetica, sans-serif;
//$background-color: black;
//$primary-color: white;

body {
  background-color: black;
  font-family: Helvetica, sans-serif;
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 150px;  
  text-align: center;
  height: 550px;
  line-height: 550px; 
  vertical-align: middle;
};
